
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color:#333333;
}

h1 {
    font-size:xx-large;
}

h2 {
    font-size: xx-large;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

.active {
    border-left: 1px dotted #3a3a3a;
    border-right: 1px dotted #3a3a3a ;
    padding: 0 8px;
}

i {
    color: white;
}

.p-white {
    color: white;
}

    /* Nav bar */ 


#menu {
    font-size: 110%;
    font-weight: bolder;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    background-color:white
}

#menu {
    line-height: 75px;
}

#menu li {
    
    display: inline-block;
    list-style: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 5%;
    margin-left: 5%;
}

#menu li:hover {
    color: #c9c592;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}



/* main banner and logo */



.main-banner-image {
    height: 800px;
    width: 100%;
    background: url('../images/main_header_2-01.png') no-repeat left center;
}

#logo {
    background: url('../images/Bad\ Dog_grey.png') no-repeat center center;
    height: 600px;
    width: 100vw;
    background-size: 40%;
    padding-top: 250px;
}

/* puppy training info */


.info-section {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background-color: #333;
    padding-left: 60px;
  }
    

.info-section p {
    color: white;
}

.info-section ul {
    color: white;
}


.info-section h2 {
    color: #c9c592;
}

#welcome {
    text-align: center;
    margin: 60px 0 5px 0;
    font-size: 280%;
    color: white;
}

hr {
    margin: 3vh 0;
}


#training-container {
    width: 300px;
    height: 300px;
}


#training-right-cover-bg {
    background: url('../images/AdobeStock_132854062.jpeg') no-repeat right center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}


.column {
    float: left;
    width: 28%;
    padding: 6em 2em;
  height: 400px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Times Section */


  .times-section {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background-color: #c9c592;
    padding-left: 60px;
  }

  #times {
    background-image: url('../images/anthony-duran-XFLY0Yp3Gow-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 90px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

#times h2 {
    color: white;
}

/* footer */

footer {
    line-height: 200px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2% 10%;
    color: #333;
}

.social-networks i:hover {
    color: #c9c592;
    
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
    
}
